<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Author: rok_root
  ~ Created time: 2021. 07. 25
  ~ Copyrights rok_root. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.rokroot.spring.demo.api.swagger.mybatis.advice.repo.MariaRepository">

    <select id="selectBoardCnt" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            COUNT(#{num, jdbcType=NUMERIC}) AS num
        FROM
            dual
    </select>

</mapper>